.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-bottom: 8em;
}

.nav-links a:hover{
    color : #C00;
}

.active-link {
    background-color: #929090;
    color: #FFF;
}